body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.input-box {
  width: 70%;
  height: 200px;
}
#query {
  width: 100%;
  height: 100%;
  font-size: 3vw;
  padding: 0.3vw;
}

/* background svg css */

.custom-shape-divider-top-1631036061 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1631036061 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
}

.custom-shape-divider-top-1631036061 .shape-fill {
  fill: #ff4376;
}

/* heading css  */
@keyframes filling {
  from {
    background-position: center 25%;
  }
  to {
    background-position: center 50%;
  }
}

.container-text {
  background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: #ffffff;
  padding-top: 20px;
  font-size: 170px;
  font-family: Bebas Neue;
  font-weight: 900;
  animation: filling 3s ease forwards;
}

#output {
  background-color: rgba(0, 0, 255, 0.11);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2vw;
  border: 1px solid transparent;
}

#copy-btn {
  border: 1px solid lightcoral;
  color: coral;
  width: 90px;
  height: 40px;
}

#copy-btn:hover {
  background-color: coral;
  color: white;
}
